<div id="form-create" class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h1>Создать Новый Пост</h1>
    
        <div class="form-control"
            [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}">
                <mat-form-field  appearance="outline" class="example-form-field">
                    <mat-label >Title</mat-label>
                    <input formControlName="title" matInput type="text">
                </mat-form-field>
                <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="validation">
                    <small *ngIf="form.get('title')?.errors?.required">Введите название поста</small>
                </div>
        </div>
    
        <div class="form-control quill-container">
            <p>Описание:</p>
            <quill-editor formControlName="text"></quill-editor>
        </div>
    
        <div class="form-control"
            [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}">
                <mat-form-field  appearance="outline" class="example-form-field">
                    <mat-label >Автор поста</mat-label>
                    <input formControlName="author" matInput type="text">
                </mat-form-field>
                <div *ngIf="form.get('author')?.touched && form.get('author')?.invalid" class="validation">
                    <small *ngIf="form.get('author')?.errors?.required">Введите автора поста</small>
                </div>
        </div>
    
        <button class="main-btn" [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Создать</button>
    </form>
</div>