.auth-error {
    background-color: red;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.auth--guard-error {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#forms {
    .mat-form-field {
        max-width: 400px;
            width: 100%;
        
    }
}

.main-btn {
    max-width: 200px;
    width: 100%;
}